<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="MovieBookingConnectionString" connectionString="Data Source=.;Initial Catalog=MovieBooking;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
          <endpointBehaviors>
            <behavior name="endpointBehavior">
              <webHttp helpEnabled="true" />
            </behavior>
          </endpointBehaviors>
        </behaviors>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
            multipleSiteBindingsEnabled="true" />
      <services>
        <service name="Service">
          <endpoint address="" behaviorConfiguration="endpointBehavior"
                    binding="webHttpBinding" contract="IService" />
          <endpoint contract="IMetadataExchange"
                    binding="mexHttpBinding" address="mex" />
        </service>
      </services>
    </system.serviceModel>
</configuration>
